body {
  font-family: 'Baloo Chettan 2', cursive;
  color: whitesmoke;
  background-color: black;
}

.form-container {
  background-color: #191919;
  border-radius: 4px;
  color: whitesmoke;
}

.form-control, .form-control:focus {
  background-color: black;
  border-color: black;
}

.defaultBtn {
  color: whitesmoke;
  background-color: blue;
}

.defaultBtn:hover {
  color: blue;
  background-color: #323232;
}

