.container {
    margin-bottom: 100px;
}

.portfolio-card {
    border-radius: 4px;
    background-color: #191919;
}

#addPortfolioCard {
    text-align: center;
    padding-top: 20px;
}

.addPortfolioBtn {
    color: blue;
    text-align: center;
    font-size: 50px;
    font-weight:bold;
    text-align: center;
}

.openPortfolioBtn {
    color: blue;
    padding: 5px;
}

.openPortfolioBtn:hover,.addPortfolioBtn:hover {
    cursor: pointer;
    border: 1px solid #323232;
    border-radius: 4px;
    padding: 4px;
    background-color: #323232;
    text-decoration: none;
}